.entry-content ul.slidesjs-pagination {
  list-style-type: none;
}

@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    width: 400px
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .container {
    width: 300px;
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 600px
  }
}

/* For larger displays */
@media (min-width: 1200px) {
  .container {
    width: 600px
  }
}